* {
    /*ึ---CSS Reset---*/
    margin: 0;
    padding: 0;
}

body {
    /*--Style for Body--*/
    background: lightcyan;
    font-family: Arial, Helvetica, sans-serif;
}

footer, header {
    /*--Style For header--*/
    display: block;
    color: yellow;
    padding-top: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
    height: 3em;
    background-color: blueviolet;
}

main {
    /*--Style For main--*/
    display: flex; /*This is flexbox*/
    flex-direction: column; /*For top-down */
}

section {
    /*--Style For section--*/
    display: flex; /*This is flexbox*/
    flex-direction: row; /*For top-down */
    font-weight: bold;
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    border: solid slateblue;
    border-width: thin;
    background-color: lightgreen;
}

article {
    /*--Style for article--*/
    flex: 80%;
    color: black;
    padding-left: 20px;
    padding-top: 20px;
    margin-bottom: 10px;
}

aside {
    /*--Style For aside--*/
    flex: 20%;
    padding-left: 20px;
    padding-top: 20px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    background-color: wheat;
}

h3 {
    color: red;
}

.column {
    display: flex;
    margin-top: 5px;
}

.row {
    display: flex;
    flex-direction: column;
}

.column label {
    display: block;
    width: 150px;
    text-align: left;
    color: darkviolet;
}

.row label {
    color: darkblue;
}

#others article {
    flex: 40%;
}

nav {
    font-weight: 100;
    font-size: 1em;
}

    nav ul {
        display: flex;
        justify-content: flex-start;
        list-style-type: none;
        background-color: black;
        width: 100%;
    }

    nav li {
        width: 15%;
    }

    nav a {
        padding-top: 10px;
        display: block;
        text-decoration: none;
        text-align: center;
        color: white;
        height: 30px;
    }

        nav a:hover {
            color: black;
            background-color: white;
        }

@media (max-width:600px) {
    .column {
        display: inline;
    }

    nav ul {
        flex-direction: column;
    }

    section {
        flex-direction: column;
    }

    nav li {
        width: 100%;
    }
}
